@import '../utils/variables.scss';
@import '../utils/mixins.scss';


section{
    @include standard-component;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}