@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.nav-bar {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 70vw;
    padding-left: 60px;

    &>li>a {
        text-decoration: none;
        // color: $blue
    }
}

.link-day {
    color: $dark-blue
}

.link-night {
    color: $light-blue
}