@import '../utils/variables.scss';
@import '../utils/mixins.scss';

section{
    @include standard-component;
    background-color: $dark-blue;
    &>ul{
        color: $blue;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0;
        padding-top: 50px;
        list-style: none;
        border-radius: 5px;

        &>li{
            padding: 20px;
            margin: 10px;
            border-radius: 2px;
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
}